[db]
dbhost ansible_host=localhost ansible_connection=local

[api]
apihost ansible_host=localhost ansible_connection=local

[api:vars]
mapped_port=5100
test_path=http://0.0.0.0:5100/api/v0.1/public/users
app_service_name=corrapi
socket_file=/tmp/corrapi.sock
access_log=/var/log/corr-api-access.log
error_log=/var/log/corr-api-error.log
gunicorn_config_rel=.config/corr_config_api.py

[cloud]
cloudhost ansible_host=localhost ansible_connection=local

[cloud:vars]
stormpath_id=XXX
stormpath_secret=XXX
stormpath_app=sumatra-cloud
mapped_port=5200
test_path=http://0.0.0.0:5200/cloud/v1/public/user/home
app_service_name=corrcloud
socket_file=/tmp/corrcloud.sock
access_log=/var/log/corr-cloud-access.log
error_log=/var/log/corr-cloud-error.log
gunicorn_config_rel=.config/corr_config_cloud.py

[frontend]
frontendhost ansible_host=localhost ansible_connection=local

[frontend:vars]
mapped_port=80
test_path=http://0.0.0.0/
app_service_name=corrfrontend

[all:children]
db
api
cloud
frontend

[all:vars]
corr_env=corr
corr_version=master
corr_repo=usnistgov/corr
anacondadir=anaconda
debug=True
