[Unit]
Description=run gunicorn
ConditionPathExists=|{{ app_path }}

[Service]
WorkingDirectory={{ corr_path }}
ExecStart={{ env_path }}/gunicorn -c {{ local_path }}/.config/{{ gunicorn_config_file }} --bind unix:{{ socket_file }} run:app
SyslogIdentifier={{ app_service_name }}

[Install]
WantedBy=multi-user.target
