[Unit]
Description=corr api uwsgi server
ConditionPathExists=|{{ app_path }}

[Service]
WorkingDirectory={{ corr_path }}
ExecStart={{ env_path }}/gunicorn -c {{ gunicorn_config }} --bind unix:{{ socket_file }} run:app
SyslogIdentifier={{ app_service_name }}

[Install]
WantedBy=multi-user.target
