var config = {
    host: '{{ hostvars['cloudhost']['ansible_ssh_host'] }}',
    port: {{hostvars['cloudhost']['mapped_port']}},
    load_xml: function(xml_location, params, succeed, failed){
        $.ajax({
            url : "/xml/"+xml_location,
            type: 'GET',
            success: function(result,status,xhr) {
                succeed(xhr, params);
            },
            error: function(xhr,status,error) {
                failed();
            }
        });
    }
}