[Unit]
Description=cor flask api server
ConditionPathExists=|{{ corr_path }}/corr-api

[Service]
Environment="LANG=en_US.UTF-8"
Environment="PYTHON_EGG_CACHE=/tmp"
WorkingDirectory={{ corr_path }}/corr-api
ExecStart=/bin/sh -c "{{ python }} run.py > {{ corr_path }}/api.log 2>&1"
SyslogIdentifier=corrapi

[Install]
WantedBy=multi-user.target
