[Unit]
Description=corr api uwsgi server
ConditionPathExists=|{{ corr_path }}/corr-api

[Service]
WorkingDirectory={{ corr_path }}
ExecStart={{ env_path }}/gunicorn -c {{ corr_path }}/builds/corrapi.py run:app
SyslogIdentifier=corrapi

[Install]
WantedBy=multi-user.target
