[Unit]
Description=corr flask cloud server
ConditionPathExists=|{{ corr_path }}/corr-cloud

[Service]
Environment="LANG=en_US.UTF-8"
WorkingDirectory={{ corr_path }}/corr-cloud
ExecStart=/bin/sh -c "{{ python }} run.py > {{ corr_path }}/cloud.log 2>&1"
SyslogIdentifier=corrcloud

[Install]
WantedBy=multi-user.target
