[Unit]
Description=corr jekyll server
ConditionPathExists=|{{ corr_path }}/corr-view/frontend

[Service]
Environment="LANG=en_US.UTF-8"
WorkingDirectory={{ corr_path }}/corr-view/frontend
ExecStart=/bin/sh -c "/usr/bin/jekyll serve --watch --port 5000 --host 0.0.0.0 > {{ corr_path }}/view.log 2>&1"
SyslogIdentifier=jekyll

[Install]
WantedBy=multi-user.target
