{% extends "base.html" %}

{% set user_url = url_for('dashboard_cloud', hash_session=user_model.session) %}

{% block hostinfo %}

<div class="host-info">   
  <div class="name">
    <a href={{ user_url }}>
      <span class="hostname">{{ user_model.email }}</span>
    </a>
  </div>
  <div class="info">
    {{ user_model.record_count }} simulations since {{ user_model.created_at.strftime('%x') }}
  </div>
</div>

{% endblock %}

{% block content %}

<div class="table-container">
  <div class="content">
    <div class="left-nav">
      <ul class="menu">
        <li {% if request.path == user_url %}class="active"{% endif %}>
          <a href="{{ user_url }}">
            <span class="glyphicon glyphicon-th"></span>
            <span class="option-text">Dashboard</span>
          </a>
        </li>
        {# <li {% if page == "processes" %}class="active"{% endif %}>  #}
        {#   <a href="#">  #}
        {#     <span class="glyphicon glyphicon-tasks"></span>  #}
        {#     <span class="option-text">Simulations</span>  #}
        {#   </a>  #}
        {# </li>  #}
        {# <li {% if page == "network" %}class="active"{% endif %}>  #}
        {#   <a href="#">  #}
        {#     <span class="glyphicon glyphicon-info-sign"></span>  #}
        {#     <span class="option-text">Analytics</span>  #}
        {#   </a>  #}
        {# </li>  #}
        {# <li {% if page == "network" %}class="active"{% endif %}> #}
        {#   <a href="#"> #}
        {#     <span class="glyphicon glyphicon-cloud-download"></span> #}
        {#     <span class="option-text">Download</span> #}
        {#   </a> #}
        {# </li> #}
        {# <li {% if page == "network" %}class="active"{% endif %}> #}
        {#   <a href="#"> #}
        {#     <span class="glyphicon glyphicon-cloud-upload"></span> #}
        {#     <span class="option-text">Upload</span> #}
        {#   </a> #}
        {# </li> #}
      </ul>
    </div>
    {% block maincontent %}
    {% endblock %}
  </div>
</div>


{% endblock %}

