{% extends "base_nav.html" %}

{% block maincontent %}

<div class="main-content">
  <div id="dashboard">

    <div class="box">
      <div class="box-header">
        <span>User Stats</span>
      </div>
      <div class="box-content">
        <table class="table">
          <tr>
            <td class="label-col">Project Count</td>
            <td>{{ user_model.projects|length }}</td>
          </tr>
          <tr>
            <td class="label-col">Simulation Count</td>
            <td> {{ user_model.record_count }} </td>
          </tr>
          <tr>
            <td class="label-col">Total Simulation Duration</td>
            <td> {{ user_model.duration|hms }} </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="box">
      <div class="box-header">
        <span>Projects</span>
      </div>
      <div class="box-content">
        <table class="table responsive">
          <table class="table" id="table-projects">
            <thead>
              <tr>
                <th>Name</th>
                <th>Simulation Count</th>
                <th>Last Updated</th>
              </tr>
            </thead>
            <tbody>
              {% for project in user_model.projects %}
                <tr>
                  <td>
                    <a href="{{ url_for('project_view', id=project.id) }}">{{project.name}}</a>
                  </td>
                  <td>{{ project.record_count }}</td>
                  <td>{{ project.created_at.strftime('%Y-%m-%d %X') }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </table>
      </div>
    </div>

    <div class="box">
      <div class="box-header">
        <span>Simulations</span>
      </div>
      <div class="box-content">
        <table class="table responsive">
          <table class="table" id="table-simulations">
            <thead>
              <tr>
                <th>Label</th>
                <th>Status</th>
                <th>Time Stamp</th>
                <th>Project</th>
                <th>Tags</th>
              </tr>
            </thead>
            <tbody>
              {% for record in user_model.records %}
                <tr>
                  <td>
                    <a href="{{ url_for('record_view', id=record.id) }}">{{ record.label }}</a>
                  </td>
                  <td>{{ record.status }}</td>
                  <td>{{ record.updated_at.strftime('%Y-%m-%d %X') }}</td>
                  <td>
                    <a href="{{ url_for('project_view', id=record.project.id) }}">{{ record.project.name }}</a>
                  </td>
                  <td>
                    {% for tag in record.tags %}
                      {% if loop.last %}
                        {{ tag }}
                      {% else %}
                        {{ tag }},
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </table>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block javascript %}

<script>
  $(document).ready(function() {
    $('#table-projects').DataTable({"aaSorting": [[2,'desc']]});
  } );

  $(document).ready(function() {
    $('#table-simulations').DataTable({"aaSorting": [[2, 'desc']]});
  } );
</script>

{% endblock %}
