{% extends "base_nav.html" %}

{% block maincontent %}

<div class="main-content">
  <div id="dashboard">
    <div class="box">
      <div class="box-header">
        <span>Simulations</span>
      </div>
      <div class="box-content">
        <table class="table responsive">
          <table class="table table-striped" id="tableid">
            <thead>
              <tr>
                <th>Label</th>
                <th>Reason</th>
                <th>Outcome</th>
                <th>Status</th>
                <th>Time Stamp</th>
                <th>Duration</th>
                <th>Tags</th>
              </tr>
            </thead>
            <tbody>
              {% for record in records %}
              <tr>
                <td>
                  <a href="{{ url_for('record_view', id=record.id) }}">{{ record.label }}</a>
                </td>
                <td>{{ record.reason.split('\n', 1) if record.reason else '' }}</td>
                <td>{{ record.outcome.split('\n', 1) if record.outcome else '' }}</td>
                <td>{{ record.status }}</td>
                <td>{{ record.timestamp }}</td>
                <td>{{ record.duration }}</td>
                <td>{{ record.tags }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}

<script>
  $(document).ready(function() {
    $('#tableid').DataTable();
  } );
</script>

{% endblock %}
